img {behavior: url(/javascripts/iepngfix.htc);}
div#container {
	/* orignal height was 538px */
	min-height: 564px;
	height: auto !important;
	height: 564px;
}
div#sidebar {
	/* original height was 519px */
	min-height: 545px;
	height: auto !important;
	height: 545px;
}
div#header {
	min-height: 61px;
	height: auto !important;
	height: 61px;
}