<% content_for :container_class_modifier do %>-contact<% end %>
<h3>contact</h3>

<div id="contact_form_container">
	<%= render :partial => 'form' %>
</div>

<% content_for :callout do %>
	<div class="contact-callout"><%= image_tag 'tac-logo.gif', :size => '164x25', :alt => 'Toronto Arts Council' %></div>
	<div class="contact-callout"><%= image_tag 'oac-logo.gif', :size => '164x33', :alt => 'Ontario Arts Council' %></div>
<% end %>